@import 'helpers/helpers';
@import 'global';

/*!
=====================================================
                  =   Global   =
=====================================================
*/

body.overflow-y-hide {
  overflow-y: hidden;
}

.review,
.market,
.markets-update {
  margin: 35px 0 70px;
}

.partners-table--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 16px 18px 17px;
  margin-bottom: 15px;
  background-color: $white;
  border-radius: $border-radius-5;
  box-shadow: 0 2px 10px 0 #d8d8d8;
}

.partner-logo {
  width: 160px;
  height: 85px;
  img {
  }
}

.partner-link {
  display: block;
  margin-top: 8px;
  color: #000;
  text-align: center;
  font-size: $ftz-mini;
  &:visited {
    color: $blue;
  }
}

.btn {
  display: inline-block;
  color: $white;
  padding: 15px 45px;
  background-color: $blue;
  border-radius: $border-radius-5;
  font-size: $ftz-small;
  font-family: $default-font-bold;
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  &:hover {
    background-color: #3c8abe;
    transform: scale(1.1);
  }
}

/*!
=====================================================
                 =   MainCSS   =
=====================================================
*/

@import 'partials/partials';
@import 'pages/pages';
@import 'responsive';
