@import 'helpers/helpers';
@import 'global';

body.overflow-y-hide {
  overflow-y: hidden;
}

/*!
=====================================================
                 =   MainCSS   =
=====================================================
*/

//  Partials
@import 'partials/partials';
//  Pages
@import 'pages/pages';
//  Media
@import 'responsive';

/*!
=====================================================
               =   Global   =
=====================================================
*/

.partners-table--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 16px 18px 17px;
  margin-bottom: 15px;
  background-color: $white;
  border-radius: $border-radius-5;
  box-shadow: 0 2px 10px 0 #d8d8d8;
}

.partner-logo {
  // width: 150px;
  // height: 100px;
  img {
    width: 150px;
    // height: 100px;
  }
}

.partner-rank {
  h1 {
    color: $blue;
    font-size: 55px;
    font-weight: $fw-500;
    line-height: 83px;
    margin-bottom: -12px;
  }
  .rate-count {
    color: #838383;
    font-size: $ftz-extra-small;
    line-height: 23px;
  }
}

.partner-link {
  display: block;
  margin-top: 8px;
  color: #000;
  text-align: center;
  font-size: $ftz-mini;
}

.btn {
  display: inline-block;
  color: $white;
  padding: 15px 45px;
  background-color: $blue;
  border-radius: $border-radius-5;
  font-size: $ftz-small;
  font-family: $default-font-bold;
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  &:hover {
    background-color: #3c8abe;
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
}

/*!
=====================================================
            =   Aside Partner Table   =
=====================================================
*/

.aside-partner-card {
  width: $sticky-sidebar-w;
  height: 565px;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 28px;
  @media (max-width: $breakpoint-lg) {
    border-radius: unset;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .swiper-slide {
      width: 100% !important;
      .partner-logo {
        margin: 0 auto;
      }
    }
  }
  .card-item {
    cursor: grab;
    font-size: $ftz-extra-small;
    padding: 21px 50px;
    margin: 0px 87px 58px;
    border-radius: $border-radius-5;
    background-color: $white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    @media (max-width: $breakpoint-md) {
      margin: 0 auto 50px;
      width: 262px;
    }
    .partner-info {
      margin: 16px 0 0;
      li {
        margin-bottom: 1em;
      }
    }
    .partner-rank {
      margin: -10px 0 20px;
    }
    .partner-button .btn {
      width: 100%;
      padding: 14px 30px;
      font-size: $ftz-normal;
      font-weight: $fw-600;
      border-radius: $border-radius-5;
    }
  }
  .swiper-pagination {
    bottom: 15px;
  }
}

main.container {
  @media (max-width: $breakpoint-md) {
    max-width: 100%;
    padding: 0 10px;
  }
}
