<div class="swiper-slide">
    <div class="card-item">
        <div class="partner-logo">
            <img src="img/partners/partner-2.svg" alt="">
        </div>
        <div class="partner-info">
            <div class="highlights">
                <ul>
                    <li>
                        Hohes Bildungsniveau der Mitglieder (über 50% Akademiker)
                    </li>
                    <li>
                        Gut geeignet für Neulinge, Berufstätige und Singles mit wenig
                        Zeit
                    </li>
                </ul>
            </div>
        </div>
        <div class="partner-rank">
            <h1>9.8</h1>
            <span class="rate-count">Rate it (<span class="count">1382</span>)</span>
            //= ./stars.html
        </div>
        <div class="partner-button">
            <a class="btn" target="_blank" rel="noopener" data-goal-name="{{ item.name }}" href="#">Visit
                Site</a>
        </div>
    </div>
</div>