<li>
  <span class="currency-name">Euro</span>
  <span class="currency-value">0.88203</span>
  <span class="currency-icon"><img src="img/layers/triangle.svg" alt=""/></span>
  <span class="currency-difference">+ 0.01120</span>
  <span class="currency-percent">+ 0.86%</span>
</li>
<li>
  <span class="currency-name">GBP</span>
  <span class="currency-value">0.770535</span>
  <span class="currency-icon"
    ><img src="img/layers/triangle-passive.svg" alt=""
  /></span>
  <span class="currency-difference passive">- 0.00420</span>
  <span class="currency-percent passive">- 0.56%</span>
</li>
<li>
  <span class="currency-name">Euro</span>
  <span class="currency-value">0.88203</span>
  <span class="currency-icon"><img src="img/layers/triangle.svg" alt=""/></span>
  <span class="currency-difference">+ 0.01120</span>
  <span class="currency-percent">+ 0.86%</span>
</li>
