<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <nav class="footer-nav">
                <div class="sections">
                    <h3>Sections</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Reviews</a></li>
                        <li><a href="/">Market Updates</a></li>
                        <li><a href="/">About Us</a></li>
                    </ul>
                </div>
                <div class="legal">
                    <h3>Legal</h3>
                    <ul>
                        <li><a href="/">Privacy Policy</a></li>
                        <li><a href="/">Terms & Conditions</a></li>
                        <li><a href="/">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="footer-brand">
                <div class="brand">
                    <a class="nav-logo" href="/" style="text-decoration: none; color: #fff;font-family:'Kohinoor Bangla';font-size: 24px;font-weight: bold;letter-spacing: -1.09px;line-height: 35px;">
                        Stockbrokers
                        <!-- <img src="img/logo.png" alt="{{ menu.home.title|striptags }}" /> -->
                    </a>
                </div>
                <div class="copyright">All Rights Reserved © 2018</div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->