<section class="background-banner" role="banner">
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header--wrapper">
                <div class="header-brand">
                    <a class="header-logo" href="/" style="text-decoration: none; color: #fff;font-family:'Kohinoor Bangla';font-size: 24px;font-weight: bold;letter-spacing: -1.09px;line-height: 35px;">
                        Stockbrokers
                        <!-- <img src="img/logo.png" alt="{{ menu.home.title|striptags }}" /> -->
                    </a>
                </div>
                <div class="header-navbar">
                    <div class="hamburger" role="button">
                        <span class="hamburger--inner"></span>
                    </div>
                    <div class="navbar-overlay"></div>
                    <nav>
                        <ul>
                            <li>
                                <a class="header-logo" href="/" style="text-decoration: none; color: #fff;font-family:'Kohinoor Bangla';font-size: 24px;font-weight: bold;letter-spacing: -1.09px;line-height: 35px;">
                                    Stockbrokers
                                    <!-- <img src="img/logo.png" alt="{{ menu.home.title|striptags }}" /> -->
                                </a>
                            </li>
                            <li class="active"><a href="/">Home</a></li>
                            <li class=""><a href="markets-update.html">Market Updates</a></li>
                            <li class=""><a href="reviews.html">Reviews</a></li>
                            <li class=""><a href="page.html">About Us</a></li>
                            <li class=""><a href="/">Contact Us</a></li>
                            <li class=""><a href="/">Terms & Conditions</a></li>
                            <li class=""><a href="/">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- /Header -->
    <!-- Page Title -->
    <section class="page-title">
        <div class="container">
            <h1>Best Online Stock Brokers</h1>
            <p>
                We've compared the best regulated Online Stock Brokers in USA. Benefit from award-winning technology
                and
                their expert support. Get registered today and see what type of investment suits you best.
            </p>
        </div>
    </section>
    <!-- /Page Title -->
</section>