<div class="partners-table--item">
    <div class="partner-media">
        <div class="partner-logo">
            <img src="img/partners/partner-3.svg" alt="logo" />
        </div>
        //= ./stars.html
        <div class="partner-button">
            <a class="btn" target="_blank" rel="noopener" data-goal-name="{{ item.name }}" href="#">Visit
                Site</a>
        </div>
        <div class="icons">
            <div class="icon">
                <img src="img/layers/clock.svg" alt="">
            </div>
            <div class="icon">
                <img src="img/layers/call.svg" alt="">
            </div>
            <div class="icon">
                <img src="img/layers/letter.svg" alt="">
            </div>
            <div class="icon">
                <img src="img/layers/message.svg" alt="">
            </div>
        </div>
    </div>
</div>