/*!
=====================================================
                   =   Filter   =
=====================================================
*/

.filter-by {
  margin: 25px 0 10px;
  .filter-block {
    display: inline-block;
    position: relative;
    min-width: 213px;
    border-radius: $border-radius-5;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 #d8d8d8;
    padding-left: 10px;
    @media (max-width: $breakpoint-lg) {
      display: inline-block;
    }
    span {
      color: #e0e0e0;
      font-size: $ftz-extra-small;
      line-height: 14px;
      border-right: 1px solid #e0e0e0;
      padding-right: 10px;
    }
    select {
      width: 68%;
      height: 32px;
      margin-left: 10px;
      cursor: pointer;
      color: $black;
      font-size: $ftz-extra-small;
      line-height: 14px;
      background-color: transparent;
      border: none;
      outline: none;
      -webkit-appearance: none;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 85%;
      transform: translateY(-50%);
      width: 16px;
      height: 8px;
      background-image: url('../img/layers/down.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: $transition;
    }
    &:focus,
    &:focus-within {
      &::after {
        top: 30%;
        transform: rotate(-180deg);
      }
    }
  }
}

/*!
=====================================================
                  =   Index Main   =
=====================================================
*/

.index {
  .partners-table {
    .partners-table--item {
      display: flex;
      padding: 50px 60px 33px;
      border-radius: $border-radius-5;
      .partner-media {
        max-width: 200px;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .partner-logo {
          height: 100px;
          display: flex;
          align-items: center;
        }
        .rating-stars {
          margin-top: 30px;
        }
        .partner-button {
          margin: 21px 0 18px;
        }
        .icons {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon {
            margin: 0 7px;
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            img {
              width: 20px;
              height: 20px;
              object-fit: contain;
            }
          }
        }
      }
      .partner-info {
        margin-left: 60px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 508px;
        h6 {
          font-size: $ftz-normal;
          font-family: $default-font-bold;
          font-weight: normal;
          line-height: 18px;
        }
        .top-line {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .top-line--data {
          }
          h4 {
            font-size: 30px;
            font-weight: normal;
            line-height: 36px;
            margin-bottom: 1px;
          }
          span {
            max-width: 130px;
            display: inline-block;
            color: #c0bfbf;
            font-size: $ftz-small;
            line-height: 16px;
          }
        }
        .bottom-line {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-end;
          p {
            line-height: 20px;
          }
          a {
            color: #686868;
            font-size: $ftz-small;
            letter-spacing: 0.54px;
            line-height: 17px;
          }
        }
      }
    }
  }
}

.index-bottom-text {
  color: $black;
  margin: 65px 0;
  h1 {
    margin-bottom: 22px;
    font-size: 24px;
    font-family: $default-font-bold;
    font-weight: normal;
    line-height: 29px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 65px;
    line-height: 19px;
  }
}

.tips {
  margin-bottom: 85px;
  h1 {
    margin-bottom: 22px;
    font-size: 24px;
    font-family: $default-font-bold;
    font-weight: normal;
    line-height: 29px;
    text-transform: uppercase;
  }
  .tip-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 40px 40px 45px 90px;
    background-color: $white;
    border-radius: $border-radius-5;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.12);
    .tip-picture {
      margin-right: 90px;
    }
    .tip-content {
      max-width: 640px;
      h2 {
        font-size: 25px;
        font-weight: normal;
        line-height: 30px;
      }
      p {
        font-size: $ftz-small;
        font-weight: 300;
        line-height: 17px;
      }
    }
  }
}
