/*!
=====================================================
            =   Info Pages & 404   =
=====================================================
*/

.info-pages {
  .page-text {
    padding: 30px 30px 60px;
    line-height: 20px;
    word-break: break-word;
    font-family: $default-font-light;
    color: $black;
    background-color: $white;
    border-radius: $border-radius-5;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    h1 {
      margin-bottom: 15px;
      line-height: 46px;
      text-align: center;
      font-size: 40px;
      font-weight: normal;
      font-family: $default-font-bold;
    }
    p {
      margin-bottom: 1em;
    }
  }
  // 404 Page
  .error-404 {
    text-align: center;
    h1 {
      margin: 1.5em 0;
      font-size: 32px;
      line-height: 1.5;
    }
  }
}
