/*!
=====================================================
  =   Detail Review Page & Articles Inner Page    =
=====================================================
*/

.review-inner,
.article-inner {
  margin: 30px 0 100px;
  .sticky-sidebar {
    width: $sticky-sidebar-w;
    margin-right: 50px;
  }
  @media (max-width: $breakpoint-md) {
    .container {
      max-width: 100%;
      padding: 0;
      .review-article-content {
        padding: 0 30px;
      }
    }
  }
}

.review-inner {
  .sticky-sidebar {
    @media (max-width: $breakpoint-lg) {
      margin: 0 auto !important;
    }
  }
  .theiaStickySidebar {
    position: static !important;
  }
}

.review-article-content {
  position: relative;
  width: 620px;
  padding: 0 0 0 50px;
  color: $black;
  font-size: $ftz-small;
  line-height: 19px;
  background-color: $white;
  border-left: 3px solid #e9e9e9;
  @media (max-width: $breakpoint-lg) {
    border-left: unset;
    width: 100%;
    padding: 0;
    margin-bottom: 60px;
  }
  h1 {
    font-size: 26px;
    font-weight: $fw-500;
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1em;
  }
  span.arrow-up {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -3px;
    left: -17px;
    background-image: url('../img/layers/arrow-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
}

.review-article-last-content {
  display: none;
  @media (max-width: $breakpoint-lg) {
    display: block;
    order: 3;
    padding: 60px 30px 0;
  }
  .partner-button {
    text-align: center;
    margin: 60px 0 -140px;
    position: unset;
    .btn {
      @media (max-width: 992px) {
        display: inline-block;
        font-weight: normal;
        border-radius: $border-radius-5;
      }
    }
  }
}

/*!
=====================================================
            =   Review Page Banner    =
=====================================================
*/

.review-page-banner {
  .banner-wrapper {
    padding: 25px 0;
    .banner-content {
      h1 {
        font-weight: $fw-500;
        display: block !important;
        @media (max-width: 992px) {
          font-weight: normal;
          text-transform: capitalize;
          margin: 1em 0;
        }
      }
      .btn {
        display: inline-block !important;
        @media (max-width: 992px) {
          display: inline-block;
        }
      }
    }
  }
  .rating-stars {
    display: block !important;
    margin: -10px 0 20px;
  }
  .partner-logo {
    border: 1px solid $white;
  }
}
