/*!
=====================================================
               =   Reviews Page   =
=====================================================
*/

.reviews {
  margin: 30px 0 110px;
  .partners-table--item {
    @media (max-width: $breakpoint-lg) {
      padding: 20px 50px;
      flex-direction: column;
      text-align: center;
    }
    .partner-info {
      max-width: 550px;
      font-size: $ftz-small;
      color: $black;
      line-height: 17px;
      margin: 0 auto 0 20px;
      @media (max-width: $breakpoint-lg) {
        padding: 0 15px;
        margin: 15px 0 0;
        max-height: unset;
        order: 3;
      }
      p {
        margin-bottom: 20px;
      }
      h6 {
        font-size: 18px;
        font-family: $default-font-bold;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 14px;
      }
      .partner-link {
        margin: 0;
        text-align: left;
        color: $blue;
        font-family: $default-font-bold;
        font-size: $ftz-extra-small;
        line-height: 14px;
        text-decoration: none;
        text-transform: uppercase;
        @media (max-width: $breakpoint-lg) {
          text-align: center;
        }
      }
    }
    .partner-button {
      @media (max-width: $breakpoint-lg) {
        order: 2;
      }
      .btn {
        font-weight: $fw-500;
        padding: 12px 35px;
      }
    }
  }
  .partner-logo {
    @media (max-width: $breakpoint-lg) {
      margin: 40px 0;
    }
  }
}
