/*!
=====================================================
               =   Review Page   =
=====================================================
*/

.review {
  .review-content {
    width: 671px;
    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
  }
  .partners-table--item {
    padding: 0;
    align-items: stretch;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
    .partner-media {
      padding: 20px 0;
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
      @media (max-width: $breakpoint-md) {
        // width: 100%;
      }
    }
    .rating-stars {
      margin: 20px 0;
    }
    .icons {
      margin-top: 20px;
    }
    .partner-info {
      width: 420px;
      margin: 0;
      padding: 20px 40px 0;
      line-height: 17px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-image: linear-gradient(270deg, #ffffff 90%, #f3f3f3 100%);
      @media (max-width: $breakpoint-md) {
        padding: 0;
        width: unset;
        text-align: center;
        background-image: unset;
      }
      h6 {
        font-family: $default-font-bold;
        font-weight: normal;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 18px;
      }
      .top-line {
        flex-direction: column;
        justify-content: start;
        span {
          max-width: unset;
          font-size: 13px;
          line-height: 16px;
          color: #c0bfbf;
        }
        .top-line--data {
          margin-bottom: 30px;
          @media (max-width: $breakpoint-md) {
            margin-bottom: 0;
            padding: 10px 0;
            &:nth-child(odd) {
              background-color: #fafafa;
            }
            &:last-child {
              border-bottom-right-radius: $border-radius-5;
              border-bottom-left-radius: $border-radius-5;
            }
          }
        }
      }
    }
    .partner-button {
      .btn {
        font-weight: $fw-500;
        padding: 12px 45px;
      }
    }
  }
  .review-text {
    margin-top: 40px;
    @media (max-width: $breakpoint-md) {
      padding: 0 30px;
    }
    h3 {
      font-family: $default-font-bold;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 10px;
      margin-bottom: 40px;
      border-bottom: 1px solid #979797;
      @media (max-width: $breakpoint-md) {
        text-align: center;
      }
    }
    ul {
      list-style: disc;
      padding: 0 15px;
      margin-bottom: 20px;
      li {
        line-height: 30px;
      }
    }
    .table {
      width: 100%;
      margin-top: 30px;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.11);
      @media (max-width: $breakpoint-md) {
        width: unset;
        margin: 0 -30px;
      }
      thead {
        color: #fff;
        background-color: #82898d;
        th {
          text-transform: uppercase;
          padding: 12px 30px;
          font-family: $default-font-bold;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          @media (max-width: $breakpoint-md) {
            padding: 15px;
          }
          @media (max-width: $breakpoint-sm) {
            padding: 8px;
          }
        }
        th:first-child {
          border-top-left-radius: 5px;
        }
        th:nth-child(2) {
          @media (max-width: $breakpoint-md) {
            border-top-right-radius: 5px;
          }
        }
        th:last-child {
          border-top-right-radius: 5px;
          @media (max-width: $breakpoint-md) {
            display: none;
          }
        }
      }
      tbody {
        td {
          padding: 30px;
          @media (max-width: $breakpoint-md) {
            padding: 10px 15px;
          }
          @media (max-width: $breakpoint-sm) {
            padding: 10px 8px;
          }
        }
        tr:nth-child(odd) {
          background-color: #fff;
        }

        tr:last-child {
          td:first-child {
            border-bottom-left-radius: 5px;
          }
          td:nth-child(2) {
            @media (max-width: $breakpoint-md) {
              border-bottom-right-radius: 5px;
            }
          }
          td:last-child {
            border-bottom-right-radius: 5px;
          }
        }
        .name {
          font-size: 18px;
          line-height: 20px;
          min-width: 230px;
        }
        .rating {
          font-family: $default-font-bold;
          font-weight: normal;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
        }
        .comment-text,
        .comment {
          color: #767676;
          font-size: 14px;
          line-height: 17px;
        }
        .comment-text {
          margin-top: 5px;
          display: none;
          @media (max-width: $breakpoint-md) {
            display: block;
          }
        }
        .comment {
          @media (max-width: $breakpoint-md) {
            display: none;
          }
        }
      }
    }
  }
}

/*!
=====================================================
               =   Aside Table    =
=====================================================
*/

.aside-table {
  width: 252px;
  margin-left: 20px;
  background-color: $white;
  box-shadow: 0 2px 4px 0 #d8d8d8;
  border-radius: $border-radius-5;
  @media (max-width: $breakpoint-lg) {
    margin-left: unset;
    margin-top: 35px;
    width: 100%;
  }
  .aside-title {
    margin: 0;
    padding: 12px;
    color: #ffffff;
    font-size: 18px;
    font-family: $default-font-bold;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    background-color: #82898d;
    border-top-right-radius: $border-radius-5;
    border-top-left-radius: $border-radius-5;
  }
  .aside-partners {
    .partner {
      padding: 12px;
      display: flex;
      justify-content: space-between;
      background-color: #f8f8f8;
      @media (max-width: $breakpoint-lg) {
        padding: unset;
      }
      .partner-logo {
        width: unset;
        height: unset;
        @media (max-width: $breakpoint-lg) {
          flex-grow: 1;
          padding: 12px 0;
          text-align: center;
        }
        img {
          height: 63px;
          width: 96px;
          background-color: $white;
          border-radius: $border-radius-5;
        }
      }
      .partner-button {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $breakpoint-lg) {
          text-align: center;
          padding: 12px 0;
          flex-grow: 2;
          background-image: linear-gradient(270deg, #f8f8f8 90%, #f3f3f3 100%);
        }
        .btn {
          padding: 12px 18px;
          @media (max-width: $breakpoint-lg) {
            padding: 12px 45px;
          }
        }
      }
      &:nth-child(even) {
        background-color: $white;
        @media (max-width: $breakpoint-lg) {
          .partner-button {
            border-bottom-right-radius: 5px;
            background-image: linear-gradient(
              270deg,
              #ffffff 90%,
              #f3f3f3 100%
            );
          }
        }
      }
      &:last-child {
        border-radius: $border-radius-5;
      }
    }
  }
}
