/*!
=====================================================
                  =   Reviews   =
=====================================================
*/

.reviews {
  margin: 30px 0 110px;

  .partners-table--item {
    padding: 17px 16px 17px 23px;
    margin-bottom: 15px;
    @media (max-width: $breakpoint-lg) {
      padding: 20px;
    }
    @media (max-width: $breakpoint-md) {
      padding: 0;
      text-align: center;
      flex-direction: column;
    }
    .partner-logo {
      @media (max-width: $breakpoint-lg) {
        margin: 40px 0;
      }
    }
    .partner-info {
      max-width: 550px;
      margin: 0 auto 0 20px;
      line-height: 17px;
      font-size: $ftz-small;
      @media (max-width: $breakpoint-lg) {
        margin-right: 20px;
      }
      @media (max-width: $breakpoint-md) {
        order: 3;
        max-width: unset;
        margin: 15px 0 0;
        text-align: center;
      }
      p {
        margin-bottom: 20px;
        font-family: $default-font-light;
        @media (max-width: $breakpoint-lg) {
          height: 50px;
          overflow: hidden;
        }
        @media (max-width: $breakpoint-md) {
          height: unset;
          padding: 0 30px;
          line-height: 17px;
          font-size: $ftz-small;
        }
      }
      h6 {
        width: 100%;
        margin-bottom: 14px;
        line-height: 22px;
        font-size: $ftz-large;
        font-weight: normal;
        font-family: $default-font-bold;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 1em;
          line-height: 17px;
          font-size: $ftz-small;
        }
      }
      .partner-link {
        text-align: left;
        color: $blue;
        font-family: $default-font-bold;
        font-size: $ftz-extra-small;
        line-height: 14px;
        text-decoration: none;
        text-transform: uppercase;
        @media (max-width: $breakpoint-md) {
          width: 100%;
          text-align: center;
          margin-bottom: 15px;
        }
      }
    }
    .partner-button {
      @media (max-width: $breakpoint-lg) {
        order: 2;
      }
      .btn {
        padding: 12px 35px;
        font-weight: $fw-500;
        @media (max-width: $breakpoint-md) {
          padding: 12px 75px;
        }
      }
    }
  }
}
