$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
//
$container-xl-width: 960px;
$container-lg-width: 960px;
$container-md-width: 720px;
$container-sm-width: 540px;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $breakpoint-sm) {
    max-width: $container-sm-width;
  }
  @media (min-width: $breakpoint-md) {
    max-width: $container-md-width;
  }
  @media (min-width: $breakpoint-lg) {
    max-width: $container-lg-width;
  }
  @media (min-width: $breakpoint-xl) {
    max-width: $container-xl-width;
  }
  @media (max-width: $breakpoint-sm) {
    padding: 0 30px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}